extends layout


block content
    script(type='text/javascript', src='/javascript/debug.js')

    div(ng-app='debugApp')

        h2 Stock List
        div(ng-controller='StockListController')
            table
                each header in ['#','Name','Number','ACB']
                    th= header
                tr(ng-repeat='stock in stockList')
                    td.center {{$index + 1}}
                    td {{stock.stockName}}
                    td {{stock.number}}
                    td {{stock.acb}}

        h2 Entries
        div(ng-controller='EntriesListController')
            table
                each header in ['StockName', 'Date','Trade #','Buy / Sell','Quanity','Price','Commission','Total Shares','ACB (Per Unit)','ACB (Total)','Capital Gains / Losses']
                    th= header
                tr(ng-repeat='entry in entriesList')
                    td {{entry.stockName}}
                    td {{entry.year}}/{{entry.month}}/{{entry.day}}
                    td {{entry.tradeNumber}}
                    td {{entry.buysell}}
                    td {{entry.quanity}}
                    td {{entry.price | currency}}
                    td {{entry.commission | currency}}
                    td {{entry.totalshares}}
                    td {{entry.acbperunit | currency}}
                    td {{entry.acbtotal | currency}}
                    td {{entry.capitalgainloss | currency}}
    p
        a(href='/') Home