extends layout

block content
    body.wide
        script(type='text/javascript' src='/javascript/stock.js')
        div(ng-app='stockApp' ng-init="stockName='#{title}'")
            div(ng-controller='StockController')
                table
                    tbody
                        th(ng-repeat="header in ['Year', 'Month','Day','Trade #','Buy / Sell','Quanity','Price','Commission','Total Shares','ACB (Per Unit)','ACB (Total)','Capital Gains / Losses','Function']" ng-bind='header')
                    tbody(ng-repeat='entry in entriesList')
                        tr(ng-hide='entry._id == editEntry._id')
                            td(ng-bind='entry.year')
                            td(ng-bind='entry.month')
                            td(ng-bind='entry.day')
                            td(ng-bind='entry.tradeNumber')
                            td(ng-bind='entry.buysell')
                            td(ng-bind='entry.quanity')
                            td(ng-bind='entry.price | currency')
                            td(ng-bind='entry.commission | currency')
                            td(ng-bind='entry.totalshares')
                            td(ng-bind='entry.acbperunit | currency')
                            td(ng-bind='entry.acbtotal | currency')
                            td(ng-bind='entry.capitalgainloss | currency')
                            td
                                div(ng-hide='editEntry._id')
                                    span.tableCells
                                        button.edit(ng-click='editMode(entry)') E
                                    span.tableCells
                                        button.remove(ng-click='remove(entry._id)') ✘

                        tr(ng-show='entry._id == editEntry._id')
                            td.input
                                select.input(ng-model='editEntry.year' ng-options='i for i in years' ng-change='adjustTradeNumber(editEntry)' required)
                            td.input
                                select.input(ng-model='editEntry.month' ng-options='i for i in months' ng-change='adjustTradeNumber(editEntry)' required)
                            td.input
                                select.input(ng-model='editEntry.day' ng-options='i for i in days' ng-change='adjustTradeNumber(editEntry)' required)
                            td.input
                                input.input(ng-model='editEntry.tradeNumber' type='number' step=1 min=1 ng-change='adjustTradeNumber(editEntry)' required)
                            td.input
                                select.input(ng-model='editEntry.buysell' ng-options="i for i in ['buy', 'sell']" required)
                            td.input
                                input(ng-model='editEntry.quanity' type='number' step=1 min=1 autofocus id='editEntryAutofocusElement' required)
                            td.input
                                input(ng-model='editEntry.price' type='number' step=0.001 min=0 required)
                            td.input
                                input(ng-model='editEntry.commission' type='number' step=0.001 min=0 required)
                            td.input
                            td.input
                            td.input
                            td.input
                            td.input
                                div
                                    span.tableCells
                                        button.add(ng-click='confirmEdit()') ✓
                                    span.tableCells
                                        button.edit(ng-click='cancelEdit()') ✘

                    tr(ng-hide='editEntry._id')
                        form(ng-submit='add()')
                            td.input
                                select.input(ng-model='newEntry.year' ng-options='i for i in years' ng-change='adjustTradeNumber(newEntry)' required)
                            td.input
                                select.input(ng-model='newEntry.month' ng-options='i for i in months' ng-change='adjustTradeNumber(newEntry)' required)
                            td.input
                                select.input(ng-model='newEntry.day' ng-options='i for i in days' ng-change='adjustTradeNumber(newEntry)' required)
                            td.input
                                input.input(ng-model='newEntry.tradeNumber' type='number' step=1 min=1 ng-change='adjustTradeNumber(newEntry)' required)
                            td.input
                                select.input(ng-model='newEntry.buysell' ng-options="i for i in ['buy', 'sell']" required)
                            td.input
                                input(ng-model='newEntry.quanity' type='number' step=1 min=1 autofocus id='newEntryAutofocusElement' required)
                            td.input
                                input(ng-model='newEntry.price' type='number' step=0.001 min=0 required)
                            td.input
                                input(ng-model='newEntry.commission' type='number' step=0.001 min=0 required)
                            td.input
                            td.input
                            td.input
                            td.input
                            td.input
                                button.add(type='submit') ADD
                p= 'Back To '
                    a(ng-href='/stocklist') Stock List