extends layout

block content
    script(type='text/javascript' src='/javascript/stocklist.js')
    div(ng-app='stockListApp' ng-controller='StockListController')
        table
            each header in ['#','Name','Number','ACB','Function']
                th= header
            tr(ng-repeat='stock in stockList')
                td.center(ng-bind='$index + 1')
                td
                    a(ng-bind='stock.stockName' ng-href='/stock?stockName={{stock.stockName}}')
                td(ng-bind='stock.number')
                td(ng-bind='stock.acb')
                td.center
                    button.remove.center(ng-click='remove(stock.stockName)') ✘
            tr
                form(ng-submit='add()' id='newStockForm' )
                    td.input.center(ng-bind='stockList.length + 1')
                    td.input
                        input(ng-model='newStock.stockName' ng-change='validate()' type='text' placeholder='Name' id='newStockAutofocus' autofocus required)
                    td.input
                        input(ng-model='newStock.number' ng-change='validate()' type='number' step=1 min=0 placeholder='Number Of Existing Stocks' )
                    td.input
                        input(ng-model='newStock.acb' ng-change='validate()' type='number' step='any' min=0 placeholder='Adjusted Cost Base (Total)')
                    td.input.center
                        button.add.center(type='submit' ng-disabled='errors.length > 0') +
        p.error.center(ng-repeat='error in errors' ng-bind='error')
    p
    a(href='/') Home