extends layout

block content
    body.wide
        script(type='text/javascript' src='/javascript/stock.js')
        div(ng-app='stockApp' ng-init="stockName='#{title}'")
            div(ng-controller='StockController')
                table
                    thead
                        th(ng-repeat="header in ['Year', 'Month','Day','Trade #','Buy / Sell','Quantity','Price','Commission','Total Shares','ACB (Per Unit)','ACB (Total)','Capital Gains / Losses','Function']" ng-bind='header')

                    tbody(ng-repeat='entry in entriesList')

                        tr(ng-hide='entry._id == editEntry._id')
                            td(ng-bind='entry.year')
                            td(ng-bind='entry.month')
                            td(ng-bind='entry.day')
                            td(ng-bind='entry.tradeNumber')
                            td(ng-bind='entry.buysell')
                            td(ng-bind='entry.quantity')
                            td(ng-bind='entry.price | moneyFilter')
                            td(ng-bind='entry.commission | moneyFilter')
                            td(ng-bind='entry.totalshares')
                            td(ng-bind='entry.acbperunit | currency')
                            td(ng-bind='entry.acbtotal | currency')
                            td(ng-bind='entry.capitalgainloss | currency')
                            td
                                table.doubleButtonCell(ng-hide='editEntry._id')
                                    td.doubleButtonCell
                                        button.edit(ng-click='editMode(entry)') E
                                    td.doubleButtonCell
                                        button.remove(ng-click='remove(entry._id)') ✘

                        tr(ng-show='entry._id == editEntry._id')
                            td.input
                                select.input(ng-model='editEntry.year' ng-options='i for i in years' ng-change='adjustTradeNumber(editEntry)')
                            td.input
                                select.input(ng-model='editEntry.month' ng-options='i for i in months' ng-change='adjustTradeNumber(editEntry)')
                            td.input
                                select.input(ng-model='editEntry.day' ng-options='i for i in days' ng-change='adjustTradeNumber(editEntry)')
                            td.input
                                input.input(ng-model='editEntry.tradeNumber' type='number' step=1 min=1 ng-change='adjustTradeNumber(editEntry)')
                            td.input
                                select.input(ng-model='editEntry.buysell' ng-options="i for i in ['buy', 'sell']")
                            td.input
                                input(ng-model='editEntry.quantity' type='number' step=1 min=1 autofocus id='editEntryAutofocusElement')
                            td.input
                                input(ng-model='editEntry.price' type='number' step='any' min=0)
                            td.input
                                input(ng-model='editEntry.commission' type='number' step='any' min=0)
                            td.input
                            td.input
                            td.input
                            td.input
                            td.input
                                table.doubleButtonCell
                                    td.doubleButtonCell
                                        button.add(ng-click='confirmEdit()' ng-disabled='validEntry(editEntry)') ✓
                                    td.doubleButtonCell
                                        button.edit(ng-click='cancelEdit()') ✘

                    tbody
                        tr(ng-hide='editEntry._id')
                            form(ng-submit='add()')
                                td.input
                                    select.input(ng-model='newEntry.year' ng-options='i for i in years' ng-change='adjustTradeNumber(newEntry)')
                                td.input
                                    select.input(ng-model='newEntry.month' ng-options='i for i in months' ng-change='adjustTradeNumber(newEntry)')
                                td.input
                                    select.input(ng-model='newEntry.day' ng-options='i for i in days' ng-change='adjustTradeNumber(newEntry)')
                                td.input
                                    input.input(ng-model='newEntry.tradeNumber' type='number' step=1 min=1 ng-change='adjustTradeNumber(newEntry)')
                                td.input
                                    select.input(ng-model='newEntry.buysell' ng-options="i for i in ['buy', 'sell']")
                                td.input
                                    input(ng-model='newEntry.quantity' type='number' step=1 min=1 autofocus id='newEntryAutofocusElement')
                                td.input
                                    input(ng-model='newEntry.price' type='number' step='any' min=0)
                                td.input
                                    input(ng-model='newEntry.commission' type='number' step='any' min=0)
                                td.input
                                td.input
                                td.input
                                td.input
                                td.input
                                    button.add(type='submit' ng-disabled='validEntry(newEntry)') ADD
                p= 'Back To '
                    a(ng-href='/stocklist') Stock List
