extends layout

block content
    script(type='text/javascript' src='/javascript/stocks.js')
    div(ng-app='stocksApp' ng-controller='StocksController')
        table
            thead
                th(ng-repeat="header in ['#','Name','Number','ACB','Function']" ng-bind='header')

            tbody(ng-repeat="stock in stocks | orderBy: 'stockName'")

                tr
                    td.center(ng-bind='$index + 1')
                    td
                        a(ng-bind='stock.stockName' ng-href='/stock?stockName={{stock.stockName}}')
                    td(ng-bind='stock.number')
                    td(ng-bind='stock.acb  | moneyFilter')
                    td
                        button.remove(ng-click='remove(stock.stockName)') ✘

            tbody
                tr(ng-hide='editStock._id')
                    form(ng-submit='add()')
                        td.input.center(ng-bind='stocks.length + 1')
                        td.input
                            input(ng-model='newStock.stockName' type='text' oninput='this.value=this.value.toUpperCase()' ng-minlength='3' placeholder='Name' id='newStockAutofocusElement' autofocus required)
                        td.input
                            input(ng-model='newStock.number' type='number' step=1 min=0 placeholder='Number Of Existing Stocks' ng-required='newStock.acb')
                        td.input
                            input(ng-model='newStock.acb' type='number' step='any' min=0 placeholder='Adjusted Cost Base (Total)' ng-required='newStock.number')
                        td.input
                            button.add.center(type='submit' ng-disabled='!validate(newStock)') +
        p.messageBox.error(ng-repeat='error in errors' ng-bind='error')
    p
    a(href='/') Home
